<nav class="navbar navbar-expand-lg navbar-light bg-faded" id="navbar">
  <a class="navbar-brand" style="font-style:italic">DAShboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="authService.user">
        <a routerLink="/snapshot" class="nav-link">{{menu[0]}}</a>
      </li>
      <li class="nav-item" *ngIf="authService.user">
        <a routerLink="/sales" class="nav-link">{{menu[1]}}</a>
      </li>
      <li class="nav-item" *ngIf="authService.user">
        <a routerLink="/reports" class="nav-link">{{menu[2]}}</a>
      </li>
      <li class="nav-item" *ngIf="authService.user">
        <a routerLink="/users" class="nav-link">{{menu[3]}}</a>
      </li>
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item" *ngIf="!authService.user">
        <button class="btn btn-outline-primary btn-sm" routerLink="/login">
          <span></span>SignUp</button>
      </li>
      
      <li class="nav-item" *ngIf="authService.user">      
        <button class="btn btn-outline-primary btn-sm" (click)="logout()">
            Welcome&nbsp;{{authService.user.email}}&nbsp;
          LogOut</button>
      </li>
     

    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-md bg-light navbar-light" id="navbar"><a class="navbar-brand"  style="font-style:italic">DAShboard</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink= "/snapshot" class="nav-link" >Snapshot</a></li>
                    <li class="nav-item"><a routerLink ="/reports" class="nav-link" >Sales</a></li>
                    <li class="nav-item"><a routerLink ="/products" class="nav-link" >Products</a></li>
                    <li class="nav-item"><a routerLink ="/users" class="nav-link" >Users</a></li>
                  </ul>
                  <ul class="navbar-nav" id="singup">
                        <li class="nav-item"><a ><span class="glyphicon glyphicon-user"></span>SignUp</a></li>
                      </ul>
                    </div>

                  </nav> -->