
<div class="container">
  <div class="row">
    <div class="col-12">
      <form>
          <select class="custom-select">
              <option selected>Days range</option>
              <option value="1">last day</option>
              <option value="2">7 days ago</option>
              <option value="3">30 days ago</option>
            </select>
            <select class="custom-select">
                <option selected>Month rage</option>
                <option value="1">this month</option>
                <option value="2">this quarter</option>
                <option value="3">half a year</option>
                <option value="4">this year</option>
              </select>
              
      
      </form>

    </div>
  </div>
</div>