<div class="container">
  <div class="row">
    
    <div class="col-sm-12">

      <form [formGroup]="selectForm" (ngSubmit)="onSubmit()">
        <select class="custom-select" id="days" formControlName="days">
          <option *ngFor="let selector of selector.values" [value]="selector">{{selector}}</option>
          <!-- <option selected>Days range</option> -->
          <!-- <option value="1">last day</option>
              <option value="2">7 days ago</option>
              <option value="3">30 days ago</option> -->
        </select>
        <!-- <select class="custom-select" disabled id="month" formControlName="month"> -->
          <!-- <option *ngFor="let selector of selectorMonth" [value]="selector">{{selector}}</option> -->
          <!-- <option selected>Month rage</option>
                <option value="1">this month</option>
                <option value="2">this quarter</option>
                <option value="3">half a year</option>
                <option value="4">this year</option> -->
        <!-- </select> -->
        

        <button class="btn btn-outline-success" type="submit" value="submit">{{button[0]}}</button>
      </form>

    </div>
   
  </div>
</div>