
<div class="container">


  <div class="row" id="chart-area">
  
    <div class="col-sm-4" id="chart-col">
      <label>Author vs. Rating</label>
      <div id="chart1"></div>
    </div>
  
    <div class="col-sm-4" id="chart-col">
      <label>Author vs. Amount</label>
      <div id="chart2"></div>
    </div>
  
    <div class="col-sm-4" id="chart-col">
      <label>Author vs. Points</label>
      <div id="chart3"></div>
    </div>
  </div>
  <google-chart [data]='pieChartData' (chartReady)='ready($event)'></google-chart>
  <google-chart [data]='table' (chartReady)='ready($event)'></google-chart>
  
</div>
